@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		@apply bg-light-bg text-light-text max-w-5xl mx-auto px-2 sm:px-4 py-8 dark:bg-dark-bg dark:text-dark-text;
	}
}

body {
	--sb-thumb-color: rgb(45 55 72);
	--sb-size: 8px;
	scroll-behavior: smooth;
}

body::-webkit-scrollbar {
	width: var(--sb-size);
}

body::-webkit-scrollbar-thumb {
	background: var(--sb-thumb-color);
	border-radius: 1px;
}

@supports not selector(::-webkit-scrollbar) {
	body {
		scrollbar-color: var(--sb-thumb-color);
	}
}
